.ring {
  margin: -60px 0 0 40px;
  width: 1px;
  height: 140px;
  border: none;
  /* background: linear-gradient(
    to top,
    #ffffff 0%,
    #8f8f8f var(--progress, 0%),
    #9a9a9a var(--progress, 0%),
    #615d5d 100%
  ); */
  pointer-events: none;
  z-index: 9998;
  transition: background 0.3s linear;
  box-shadow: none !important;
}

.counter {
  position: absolute;
  color: white;
  opacity: 0.3;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
  user-select: none;
  box-shadow: none !important;
}
